.card{
    button{
        transform: translateY(100%);
        transition: all ease-in 0.5s;
        opacity: 0;
    }

    &:hover{
        button{
            transform: translateY(0%);
            opacity: 1;
        }
    }
}