<section class="w-1/2 mx-auto bg-gray-50 p-4 rounded border-2">
    <h1 class="text-center" >forget password</h1>

@if(step == 1 ){ 
    <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" >
    <div>
        <label for="email">email</label>
        <input formControlName="verifyEmail" type="email" id="email" class="form-control bg-white border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <button class="btn-main" [disabled]="verifyEmail.invalid" >verify Email</button>
</form>}



@else if (step == 2) {
    <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()" >
        <div>
            <label for="code">Your Code</label>
            <input formControlName="resetCode" type="number" id="code" class="form-control bg-white border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>

        <button class="btn-main" [disabled]="verifyCode.invalid" >verify Code</button>
    </form>

}


@else if (step == 3) {
    <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()" >
    <div>
        <label for="email">Your email </label>
        <input formControlName="email" type="email" id="email" class="form-control bg-white border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <label for="email">Your New password </label>
      <input
        type="password"
        formControlName="newPassword"
        id="password"
        class="bg-white border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>

    <button class="btn-main" [disabled]="verifyCode.invalid" >verify Code</button>
</form>
}

</section>