<section class="w-1/2 mx-auto  bg-gray-50 p-4 rounded border-2">
    <h1 class="text-center , text-green-500 text-3xl">checkout</h1>
    <form [formGroup]="checkOutForm" (ngSubmit)="submitForm()">
        <div class="mb-6">
            <label
              for="details"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >details</label
            >
            <input
              type="text"
              formControlName="details"
              id="details"
              class="bg-white border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
           </div>

           <div class="mb-6">
            <label
              for="phone"
              class="block mb-2 text-sm font-medium"
              >phone</label
            >
            <input
              type="tel"
              formControlName="phone"
              id="phone"
              class="bg-white border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
           </div>

           <div class="mb-6">
            <label
              for="city"
              class="block mb-2 text-sm font-medium"
              >city</label
            >
            <input
              type="city"
              formControlName="city"
              id="city"
              class="bg-white border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
           </div>
<button class="btn-main" type="submit" [disabled]="checkOutForm.invalid" >onlinepayment</button>
           
    </form>
</section>